body {
	background-color: #417DA3;
	margin: 0px;
}

header {
	background-color: #F677A5;
	padding: 50px;
	margin: 15px;
}

header img {
	border-radius: 150px;
	width: 300px;
}

h1{
	font-size: 60px;
	line-height: 0.1;
}

h2 {
	font-size: 30px;
	line-height: 0.5;
}

 .aligned {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	padding: 0 0 0 60px;
 }

 .text {
 	display: inline-block;
 	text-align: left;
 	padding: 0 0 0 40px;
 }
 
 .uppercase {
 	text-transform: uppercase;
 }

 .huge {
 	text-align: center;
 	font-size: 100px;
 	padding: 100px;
 	color: #F677A5;

 	-webkit-text-stroke-width: 0.5px; 
 	-webkit-text-stroke-color: black;
 }

 .box {
	margin: 15px;
	padding: 10px;

	background-color: #F677A5;
}