body {
	background-color: #417DA3;
	margin: 0px;
}

header {
	background-color: #F677A5;
	padding: 50px;
	margin: 15px;
}

header img {
	border-radius: 150px;
	width: 300px;
}

 .aligned {
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	padding: 0 0 0 60px;
 }

 .text {
 	display: inline-block;
 	text-align: left;
 	padding: 0 0 0 50px;
 }
 